<div id="wrapper">
	<div id="map_canvas"></div>
	<sidebar>
		<h1>Lama map</h1>
		<nav>
			<table id="layers">
				<thead>
					<tr>
						<td colspan="3">Warstwy</td>
					</tr>
				</thead>
				<tbody>
					<% @layers.each do |layer| %>
					<tr>
						<td class="visibility"><%= image_tag "eye.png" %></td>
						<td style="background-color: red" class="colour"></td>
						<td class="name">Warstwa #<%= layer.id %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<ul id="menu">
				<li>
					<%= link_to 'Nowa warstwa', new_layer_path %>
				</li>
			</ul>
		</nav>
	</sidebar>
	</nav>
</div>