<div id="wrapper">
	<div id="map_canvas"></div>
	<sidebar>
		<h1>Lama map</h1>
		<nav>
			<ul id="menu">
				<li>
					Utwórz punkt
				</li>
			</ul>
		</nav>
	</sidebar>
	</nav>
</div>
