<div id="wrapper">
	<div id="map_canvas"></div>
	<sidebar>
		<h1>Lama map</h1>
		<nav>
			<table id="layers">
				<thead>
					<tr>
						<td colspan="3">Warstwy</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="visibility"><%= image_tag "eye.png" %></td>
						<td style="background-color: red" class="colour"></td>
						<td class="name">Punkty</td>
					</tr>
					<tr>
						<td class="visibility"><%= image_tag "eye.png" %></td>
						<td style="background-color: green" class="colour"></td>
						<td class="name">Wielokąty</td>
					</tr>
					<tr>
						<td class="visibility"><%= image_tag "eye.png" %></td>
						<td style="background-color: blue" class="colour"></td>
						<td class="name">Okręgi</td>
					</tr>
					
				</tbody>
			</table>
			<ul id="menu">
				<li><a href="#" class="add_point">Dodaj punkt</a></li>
				<li><a href="#" class="add_polygon">Utwórz wielokąt</a></li>
				<li><a href="#" class="add_circle">Utwórz okrąg</a></li>
			</ul>
			
			<p id="edit_mode" style="display:none">
				<button id="save_geometry">Zapisz</button>
			</p>
			
		</nav>
	</sidebar>
	</nav>
</div>