// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*
{
  padding: 0;
  margin: 0;
}

body
{
  position: relative;
  margin: 20px;
}

#wrapper
{
}

#map_canvas
{
  min-width: 600px;
  min-height: 400px;
}

sidebar
{
  display: block;
  width: 180px; 
  position: absolute;
  right: 0;
  top: 0;
}

#menu
{
}
