// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*
{
  padding: 0;
  margin: 0;
}

body
{
  margin: 20px;
}

h1
{
  margin-bottom: 20px;
}

#wrapper
{
}

#map_canvas
{
  min-width: 600px;
  min-height: 400px;
}

sidebar
{
  background-color: rgba(246, 246, 246, 0.8);
  border-bottom-left-radius: 5px;
  display: block;
  width: 230px; 
  position: absolute;
  padding: 0 20px;
  right: 0;
  top: 20px;
}

/*
 * Warstwy
 */
#layers
{
  width: 230px;
  border: 1px solid #ccc;
}

#layers > thead td
{
  background-color: #fabc26;
}

#layers > thead td
{
  font-weight: bold;
  padding: 5px
}

#layers > tbody tr
{
  cursor: pointer
}

#layers td
{
  line-height: 16px;
  height: 16px;
}

#layers .visibility
{
  width: 16px;
  padding-right: 10px;
}


#layers .colour
{
  width: 16px  
}

#layers .name
{
  padding-left: 10px
}

/*
 * Menu
 */
#menu
{
  list-style-type: none;
  margin: 20px 0
}

#menu li:before
{
  content: "»"
}

#edit_mode
{
  margin: 20px 0;
}
